@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1, h2 {
    line-height: 1.5;
}

p {
    margin: 0 0 20px 0;
}

p:last-child {
    margin: 0;
}

.textAlignCenter {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #222;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    background-color: #222;
    padding: 20px;
    color: white;
    text-align: center;
}

.header .title {
    margin: 0;
}

.header .subtitle {
    margin-top: 0;
    font-weight: 600;
}

.welcome-message {
    font-size: 1.5em;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    display: inline-block;
    padding: 5px 10px;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
}

.main-nav a:not(.active):hover {
    color: #61dafb;
}

.main-nav a.active {
    background-color: #fff;
    color: #222;
}

.main {
    padding: 20px;
    min-height: 400px;
    max-width: 1180px;
    margin: 0 auto;
}

.cms-page-counter {

}

.cms-page-counter .counter-wrapper {
    border: 1px solid #222;
    border-radius: 4px;
    padding: 20px;
    display: block;
    float: left;
}

.cms-page-counter .counter-wrapper .qty-button {
    width: 40px;
    display: inline-block;
    border: 0;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    vertical-align: middle;
    border-radius: 4px;
}

.cms-page-counter .counter-wrapper .qty-button:hover {
    background-color: #666;
}

.cms-page-counter .counter-wrapper .qty-box {
    margin: 0 10px;
    border-radius: 4px;
    border: 1px solid #222;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


.catalog-products {
    padding: 30px 20px;
    margin: 0 auto;
    max-width: 1180px;
}

.catalog-products:after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
}

.catalog-products-sidebar {
    float: left;
    width: 21%;
}

.catalog-products-sidebar-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #222;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.layered-nav-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 2px solid #222;
    padding-bottom: 10px;
}

.layered-nav-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.layered-nav-item {
    margin-bottom: 5px;
}

.layered-nav-item label {
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.layered-nav-item span:after {
    content: "+";
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    margin-left: 5px;
    transition: color 0.2s;
    vertical-align: bottom;
}

.layered-nav-item input:checked + span:after {
    content: "-";
}


.layered-nav-item label:hover span:after {
    color: #222;
}

.layered-nav-item input {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.layered-nav-item span {
    vertical-align: middle;
}

.catalog-products-main {
    float: right;
    width: 78%;
}

.catalog-products .product-list-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.catalog-products .product-list-items:after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
}

.catalog-products .product-list-item {
    float: left;
    width: 25%;
    padding: 10px;
    margin-bottom: 4%;
    display: block;
}

.product-list-item .product-item-image {
    border: 1px solid #ddd;
    height: 0;
    padding-bottom: 125%;
}

.product-list-item .product-item-image img {
    display: block;
}

.product-list-item .product-item-info {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 20px;
}

.product-list-item .product-item-title {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-list-item .product-item-price {
    margin-bottom: 20px;
    font-weight: 300;
}

.product-list-item .product-item-button {
    width: 100%;
    display: block;
    border: 0;
    border-radius: 0;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.product-list-item .product-item-button:hover {
    background-color: #666;
}

.sidebar-minicart {
    padding: 20px 0;
}

.sidebar-minicart-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar-minicart-items {
    padding: 20px 0;
    margin: 0;
    list-style-type: none;
}

.sidebar-widget {
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.sidebar-widget .sidebar-widget-title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.sidebar-widget .sidebar-widget-content {
    padding: 10px;
}

.minicart-list-item {

}

.minicart-list-item:after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
}

.minicart-item-info {
    float: left;
    width: calc(100% - 35px);
}

.minicart-item-title {
    font-weight: 600;
}

.minicart-item-price {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

.minicart-item-button {
    background-color: #222;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    float: right;
}

.minicart-subtotal {
    border-top: 2px solid #222;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.product-list-pagination {
    list-style-type: none;
    width: 100%;
    display: block;
    padding: 0 10px 10px;
    margin: 0 auto;
}

.product-list-pagination:after {
    display: block;
    clear: both;
    content: '';
    width: 100%;
}

.product-list-pagination .action button {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    background-color: #222;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    transition: background-color 0.2s;
    cursor: pointer;
}


.product-list-pagination .action.disabled button {
    background-color: #999;
    cursor: default;
    pointer-events: none;
}

.product-list-pagination .action button:hover {
    background-color: #666;
}

.product-list-pagination .prev {
    float: left;
}

.product-list-pagination .next {
    float: right;
}

.product-list-totals {
    position: relative;
    height: 0;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
}

.checkout-cart-index .cart-table {
    padding: 20px 0;
}

.checkout-cart-index .cart-table:after {
    clear: both;
    content: "";
    display: block;
    width: 100%;
}

.checkout-cart-index .cart-title {
    margin-bottom: 0;
}

.checkout-cart-index .cart-subtitle {
    font-size: 12px;
    line-height: 16px;
}

.checkout-cart-index .cart-summary {
    float: right;
    width: 23%;
    padding: 10px;
    border: 1px solid #ddd;
}

.checkout-cart-index .cart-summary .cart-summary-row {

}

.checkout-cart-index .cart-summary .cart-summary-row.cart-totals {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
}

.checkout-cart-index .cart-summary .cart-summary-row.cart-totals:first-child {
    border: 0;
    margin: 0;
    padding: 0;
}

.checkout-cart-index .cart-summary .cart-summary-row span {
    float: right;
}

.checkout-cart-index .cart-summary .cart-summary-row strong {
    font-weight: 700;
}

.checkout-cart-index .cart-table-items {
    margin: 0;
    list-style-type: none;
    padding: 10px;
    border: 1px solid #ddd;
    float: left;
    width: 75%;
}

.cart-list-item {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-list-item:last-child {
    border: 0;
}

.cart-list-item .cart-item-info {
    padding-right: 30px;
}

.cart-list-item .cart-item-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.cart-list-item .cart-item-qty {
    font-size: 14px;
    line-height: 20px;
}

.cart-list-item .cart-item-button {
    position: absolute;
    top: 10px;
    right: 0;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #222;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cart-list-item .cart-item-button:hover {
    background-color: #666;
}

.footer {
    text-align: center;
    background-color: #222;
    padding: 20px 20px;
}

.footer .copyrights {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}